@{
    ViewData["Title"] = "Home Page";
}

<a class="btn btn-success"asp-controller="Home" asp-action="YasGrubu">Yaş Grubu Hesaplama</a>

<a class="btn btn-success"asp-controller="Home" asp-action="CreateProduct">Create Product</a>


@* <form asp-controller="Home" asp-action="VerileriAl" method="post">
    <label for="">Ad</label>
    <input type="text" name="txtAd">
    <label for="">Yaş</label>
    <input type="text" name="txtYas">
    <button class="btn btn-primary btn-sm" type="submit">Gönder</button>
</form> *@
