@using OnlineTutor.Entity.Concrete
@model List<Category>
    @foreach (var category in Model)
    {
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">@category.Name</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown07">
            @await Component.InvokeAsync("Subjects")
        </ul>
    </li>
    }