.body{

}

.container{
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.screen{
    background-color: black;
    color:aliceblue;
}

.numPad{
    background-color:blue;
}

.btn{
    margin: 10px;
    height: 30px;
    width: 70px;
}

.isaretGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.numaraGroup{
    display: flex;
    flex-direction: row;
}

.esittirGroup{
    display: flex;
}

.numara{

}

#esittir{
    height: 200px;
    width: 70px;
}

#reset{
    background-color: brown;
}