@model List<User>
@{
    ViewData["Title"] = "Users";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.first_name</td>
                <td>@user.last_name</td>
                <td>@user.email</td>
            </tr>
        }
    </tbody>
</table>
