body {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    order: 1;
    order: 2;
    order: 3;
}

.header,
.footer {
    background-color: #06283D;
    padding-left: 20px;
    height: 120px;
    display: flex;
    align-items: center;
}

.footer {
    height: 60px;
    color: #fff;
}

.header h1 {
    color: goldenrod;
    font-size: 60px;
}

.content {
    display: flex;
    margin-top: 10px;
    height: calc(100vh - 200px);
    /* flex-direction: row-reverse; */
}

.content-left {
    width: 25%;
}

.content-left ul {
    list-style-type: none;
    padding: 0;
    /* default margin'i sıfırladık */
    margin: 0;
}

.content-left ul li {
    padding: 10px 15px;
    margin-bottom: 8px;
    background-color: #256D85;
    color: white;
}

.content-left ul li:hover {
    cursor: pointer;
    background-color: #2B4865;
}

.content-right {
    width: 75%;
    padding-left: 15px;

}

.content-right h1 {
    color: #002B5B;
    margin: 0;
}

@media (max-width: 700px) {
    .header {
        order: 1;
    }

    .content {
        flex-direction:column;
        align-items: flex-start;
    }

    .content-left{
        display: flex;
        flex-direction: row;
    } 

    .footer {
    }
}