@model List<Country>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ülke</th>
            <th>Başkent</th>
            <th>Nüfus</th>
            <th>Dil</th>
            <th>Araç Trafiği</th>
            <th>Bayrak</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var country in Model)
        {
            <tr>
                <td>@country.Name.Common</td>
                <td>
                </td>

            </tr>
        }
    </tbody>
</table>
