@model Yazar
@{
    ViewData["Title"] = "Yazar Güncelle";
}

<h1 class="display-6">Yazar Güncelle</h1>
<hr>
<form asp-controller="Home" asp-action="YazarGuncelle" method="post">
    <div class="row mb-2">
        <div class="col-2">
            <label asp-for="Ad" class="form-label"></label>
        </div>
        <div class="col-4">
            <input type="text" asp-for="Ad" class="form-control">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-2">
            <label asp-for="DogumYili" class="form-label"></label>
        </div>
        <div class="col-4">
            <input type="text" asp-for="DogumYili" class="form-control">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-2">
            <label asp-for="Cinsiyet" class="form-label">Cinsiyet</label>
        </div>
        <div class="col-4">
            <input type="radio" class="form-check-input" asp-for="Cinsiyet" value="K" checked><label>Kadın</label>
            <input type="radio" class="form-check-input" asp-for="Cinsiyet" value="E"><label>Erkek</label>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-4 offset-2">
            <input type="submit" class="btn btn-primary" value="Güncelle">
        </div>
    </div>
</form>
