@model List<Category>
@{
    ViewData["Title"] = "Category";
}
<h1 class="display-6">Product List</h1>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Id</td>
                <td>@c.Ad</td>
                <td>@c.Aciklama</td>
            </tr>
        }
    </tbody>
</table>